{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Contactos {% endblock %}
{% block content %}




<section>

  <div class="container20">
    <div class="card-container20">
      <div class="header20">
        <a href="#">
          <img src="{% static '/Img/pinctureY.jpg' %}" alt="Yosmar">
        </a>
        <h2>Yosmar Rene Rodriguez Gonzalez</h2>
        <h4>Desarrollador <br>Back-End </h4>
      </div>
      <div class="descripcion20">
      <p>~CEO principal en proyecto Magic Showcase 
      </p>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
       </div>
    </div>
  </div>


  <div class="card-container20">
    <div class="header20">
      <a href="#">
        <img src="{% static '/Img/pinctureL.jpg' %}" alt="Leonel">
      </a>
      <h2>Leonel Eduardo Terrazas Mejia</h2>
      <h4>Desarrollador <br>Back-End </h4>
    </div>
    <div class="descripcion20">
    <p>~Desarrollador de Back-End en proyecto Magic Showcase 
    </p>
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
     </div>
  </div>
</div>

</div>

</section>

<section>

  <div class="container20">
    <div class="card-container20">
      <div class="header20">
        <a href="#">
          <img src="{% static '/Img/pinctureA.jpg' %}" alt="Alexander">
        </a>
        <h2>Pedro Alexander Aguilar Gonzalez</h2>
        <h4>Desarrollador <br>Front-End </h4>
      </div>
      <div class="descripcion20">
      <p>~Desarrollador Front-End en proyecto Magic Showcase 
      </p>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
       </div>
    </div>
  </div>


  <div class="card-container20">
    <div class="header20">
      <a href="#">
        <img src="{% static '/Img/pinctureG.jpg' %}" alt="David">
      </a>
      <h2>David Alejandro Godoy Salas</h2>
      <h4>Desarrollador <br>Front-End </h4>
    </div>
    <div class="descripcion20">
    <p>~Desarrollador de Front-End en proyecto Magic Showcase 
    </p>
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
     </div>
  </div>
</div>

</div>

</section>
  

         



{% endblock %}
